/*
 Site annoucements site CSS
*/
.service-announcements-announcement-type {
	padding: 2px 5px;
	margin: 5px 0;
	display: inline-block;
	border-radius: 3px;
}
.fc-event.service-announcements-announcement-type-maintenance,
.service-announcements-announcement-type-maintenance {
	background-color: #4787b8;	
	border-color: #4787b8;
	color: white;
}
.fc-event.service-announcements-announcement-type-incident,
.service-announcements-announcement-type-incident {
	background-color: orange;	
	border-color: orange;
	color: white;
}

.service-announcements-announcement-full-icon {
	float: right;
	margin: 5px;
	padding: 5px;
	border: 1px solid #CCCCCC;
}
